
<!DOCTYPE HTML>

<html>
	<head>
		<meta charset = "utf-8">
		<title>Download</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='baixar.png') }}">
		<link rel="stylesheet" href="static/download.css">
		<script type="text/javascript" src="static/request.js"></script>
		<script type="text/javascript" src="static/FileSaver.js"></script>
	</head>
	<body>
		<br>
		<button id="returnButton" onCLick="window.location = '/'">Voltar</button><br><br>
		<div id="buttons"></div>
		<script type="text/javascript" src="static/download.js"></script>
	</body>
</html>
