
<!DOCTYPE HTML>

<html>
	<head>
		<meta charset = "utf-8">
		<meta content = "utf-8">
		<title> Gráfico</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
		<link rel = "stylesheet" href = "static/main.css">
		<script type="text/javascript" src="static/request.js"></script>
		<script type = "text/javascript" src = "static/Chart.js"></script>
	</head>
	<body>
		<div id="all">
			<div id = "graph" class = "table-elements">
				<p><canvas class="canvas" id="top-graph"></canvas><p><canvas class="canvas" id="bottom-graph"></canvas>
			</div>
			<div id="command-bar" class="table-elements"><p>
				<button class="btn top-button" id="start" onclick="startButtonClick()">Iniciar</button>
				<button class="btn top-button" id="stop" onclick="endButtonClick()">Parar / Continuar</button>
				<button class="btn top-button" id="save" onclick="saveButtonClick()">Salvar</button>
			</div>
			
			<div id = "main-data" class = "table-elements">
				<div id = "loop-description"><h3 id="loop-description-value">Malha de controle</h3></div>
				<div id = "select-loop" class = "table-elements">
					<p>Tipo de malha<br>
					<button onClick="window.location.href = 'open-loop'">Malha Aberta</button>
					<button onClick="window.location.href = 'closed-loop'">Malha Fechada</button>
				</div>
				
				<div id = "bottom-part">
					<img src="static/LogoCefetmg.png" alt = "Imagem do logo do Cefet" width = "200"></img>
				</div>
			</div>
		</div>

		<script src = "static/main.js" type = "text/javascript"></script>
	</body>
</html>

